<div class="container">
  <div class="div1">
    <ngx-chess-board [darkDisabled]="this.chessProvider.type === 'w' || this.chessProvider.onePlayer"
                     [lightDisabled]="this.chessProvider.type === 'b' || this.chessProvider.onePlayer"
                     [showLastMove]="false"
                     #board (moveChange)="boardChanged()">
    </ngx-chess-board>
    <br>
    <div>
      <button class="btn-1" [hidden]="!checkmate" (click)="showAllMoves()">See all moves</button>
      <button class="btn-2" [hidden]="!checkmate" [disabled]="chessProvider.type !== playerTurn()" (click)="reset()">Reset</button>
    </div>
  </div>
</div>
